h1 {
	color: red;
}
#pic{
  	height: 30%;
  	width: 40%;
  	float: left;
 	border: 5px green solid;
}
.nav-menu{
	color: green;
}
@media screen and (max-width: 480px) {
	div.nav-menu ul li {
		float: none;
	}
}