@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700italic,400);
* { margin:0; padding:0; box-sizing:border-box; }
body {
  padding: 50px 30px 50px 80px;
  text-align: center;
  background: url("../images/familyshield.jpg")no-repeat fixed center;
  background-size: cover;
  color: purple;
  font-family: "Montserrat", cursive;
  font-style: bold;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
footer{
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

#slogan {
  font-family: "Josefin Sans", Helvetica;
  font-style: italic;
  font-size: 60;
  line-height: 1.5em;
  margin: 2em;
}
.fonts {
  font-family: "Josefin Sans", Helvetica;
  font-size: 34;
}
#pic{
  height: 300px;
  width: 500;
  float: left;

}
li{
  padding: 0px 30px 0px 0px;
  text-align: center;
}

hr {
  width: 300px;
  text-align: center;
}
